<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/dashboard.css">  
</head>
<body>
    {{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{error}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
    {{#if success}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{success}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
    <center>
        <div class="welcome">
          <p>Welcome {{ user.username }}</p>
          {{#if user.isVerified}}
            <div class="alert alert-warning fade show" role="alert">
              Welcome to your Dashboard {{ user.username }}, you are now verified.
            </div>
          {{else}}
            <div class="alert alert-warning fade show" role="alert">
              Check your email for verification instructions.
            </div>
          {{/if}}
          <div style="padding: 50px;">
              You logged in {{ timeago timetamp }}
          </div>
        </div>
    </center>
</body>
</html>